/* template */
body {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  opacity: 0.25;
  background-blend-mode: screen;
  background-color: rgba(95, 95, 155, 0.125);
  background-image: url(../images/template/body.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

h3,
h4,
h5 {
  color: rgb(50, 98, 87);
}

h2 {
  margin: 1rem auto;
  color: rgb(50, 98, 87);
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

main {
  min-height: 72.5vh;
}
@media screen and (min-width: 40em) {
  main > * {
    margin-bottom: 50px;
  }
}

.subheader {
  color: #646464;
}

i {
  margin: 0 auto 1rem 0;
}

/* header */
.top-bar, .top-bar ul {
  background-color: rgb(50, 98, 87);
}
.top-bar .top-bar-left span {
  display: inline-block;
  background-image: url(../images/nav/icon.png);
  width: 84px;
  height: 84px;
}
.top-bar ul h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.top-bar ul a {
  color: rgb(214, 237, 255);
}
.top-bar ul a:hover, .top-bar ul a:focus {
  color: rgb(255, 250, 250);
}

.title-bar {
  background-color: rgb(50, 98, 87);
}
.title-bar .menu-icon {
  color: rgb(172, 215, 236);
}
.title-bar .title-bar-title {
  color: rgb(214, 237, 255);
}

/* footer */
footer {
  padding-top: 15px;
  background-color: rgb(95, 95, 155);
}
footer li, footer a {
  color: rgb(214, 237, 255);
}
footer a:hover, footer a:focus {
  color: rgb(255, 250, 250);
}

/* contact */
#main a:hover, #main a:focus {
  color: rgb(95, 95, 155);
}

.badge {
  margin: 0 0 10px 0;
}

#map {
  background-image: url(../images/contact/map-full.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center right;
  position: relative;
  max-height: 319px;
  padding: 31%;
  margin: 0 0 2rem 0;
}
@media screen and (min-width: 40em) {
  #map {
    background-image: url(../images/contact/map.jpg);
    padding: 0;
    margin: 0 0 50px 0;
  }
}
#map address {
  position: absolute;
  bottom: -25px;
  left: 0;
}

#main form .button {
  background-color: rgb(132, 220, 198);
  color: #182f2a;
  margin: 0;
}
#main form .button:hover, #main form .button:focus {
  background-color: #c0ede2;
  color: rgb(10, 10, 10);
}
#main form textarea {
  resize: none;
}
#main form .has-tip-cursor {
  cursor: inherit;
}
#main form .tabs {
  background-color: transparent;
  border: none;
}
#main form .tabs li, #main form .tabs footer a, footer #main form .tabs a {
  background-color: #f0f0f0;
}
#main form .tabs li a, #main form .tabs footer a a, footer #main form .tabs a a {
  font-size: 14px;
  color: #646464;
  padding: 0.5rem 0;
}
#main form .tabs li a:hover, #main form .tabs footer a a:hover, footer #main form .tabs a a:hover, #main form .tabs li a:focus, #main form .tabs footer a a:focus, footer #main form .tabs a a:focus {
  color: rgb(95, 95, 155);
}
#main form .tabs .tabs-title.is-active a {
  background-color: rgba(138, 138, 138, 0.25);
}
#main form .tabs-content {
  background-color: transparent;
  border: none;
}
#main form .tabs-content .tabs-panel {
  margin: 0;
  padding: 0;
}
#main form label b {
  display: block;
}

blockquote, blockquote cite {
  color: #646464;
}
@media screen and (min-width: 40em) {
  .callout {
    margin: 0 0 50px 0;
  }
}
@media only screen and (max-width: 64em) {
  table th {
    position: absolute;
    clip: rect(0 0 0 0);
  }
  table tr {
    display: block;
    border-top: 1px solid rgb(202, 202, 202);
  }
  table thead tr,
table tr:nth-child(1) {
    border: none;
  }
  table td {
    display: block;
    text-align: right;
  }
  table td::before {
    content: attr(headers);
    float: left;
    font-weight: 600;
    text-transform: capitalize;
  }
  table td:nth-child(odd) {
    background-color: rgb(248, 248, 248);
  }
}

/*# sourceMappingURL=contact.css.map */
