.gallery .cell {
  width: 220px;
  height: 400px;
  margin: 1% 3%;
}

#img-1 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-1.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-2 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-2.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-3 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-3.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-4 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-4.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-5 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-5.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-6 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-6.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-7 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-7.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-8 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-8.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-9 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-9.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-10 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-10.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-11 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-11.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-12 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-12.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-13 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-13.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-14 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-14.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-15 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-15.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-16 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-16.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-17 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-17.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-18 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-18.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-19 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-19.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#img-20 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-20.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}
/*# sourceMappingURL=gallery.css.map */