@import "foundation.min.css";
@import "icons/foundation-icons.css";
/* global */
body {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  background-image: url(../images/body/body-texture.jpg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-blend-mode: screen;
  opacity: 0.25;
  background-color: rgba(95, 95, 155, 0.125);
}

h3,
h4,
h5 {
  color: #326257;
}

h2 {
  margin: 1rem auto;
  color: #326257;
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

main {
  min-height: 69vh;
}
@media screen and (min-width: 40em) {
  main {
    min-height: 70vh;
  }
  main > * {
    margin-bottom: 50px;
  }
}

.subheader {
  color: #6b6b6b;
}

/* header */
.top-bar, .top-bar ul {
  background-color: #326257;
}
.top-bar ul {
  min-height: 100px;
}
.top-bar ul h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.top-bar ul a {
  color: #d6edff;
}
.top-bar ul a:hover, .top-bar ul a:focus {
  color: snow;
}
.top-bar ul .menu-text {
  margin: 0;
  padding: 0;
}
.top-bar ul .menu-text span {
  display: inline-block;
  background-image: url(../images/nav/icon.png);
  width: 84px;
  height: 84px;
}

.title-bar {
  background-color: #326257;
}
.title-bar .menu-icon {
  color: #acd7ec;
}
.title-bar .title-bar-title {
  color: #d6edff;
}

/* footer */
footer {
  padding-top: 15px;
  background-color: #5f5f9b;
}
footer li, footer a {
  color: #d6edff;
}
footer a:hover, footer a:focus {
  color: snow;
}

.gallery .cell {
  width: 220px;
  height: 400px;
  margin: 1% 3%;
}
.gallery h3 {
  font-size: medium;
}

#product-1 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-1.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-2 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-2.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-3 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-3.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-4 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-4.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-5 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-5.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-6 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-6.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-7 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-7.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-8 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-8.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-9 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-9.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-10 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-10.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-11 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-11.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-12 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-12.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-13 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-13.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-14 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-14.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-15 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-15.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-16 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-16.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-17 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-17.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-18 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-18.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-19 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-19.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

#product-20 {
  width: 220px;
  height: 220px;
  margin: auto auto 3% auto;
  background-image: url(../images/gallery/product-20.jpg);
  background-size: contain;
  border: 1px solid #cacaca;
}

/*# sourceMappingURL=gallery.css.map */
