/* global */
body {
  max-width: 1920px;
  margin: auto;
  position: relative;
}
body::before {
  position: absolute;
  content: "";
  background-image: url(../images/body/body-texture.jpg);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -999;
  background-blend-mode: screen;
  opacity: 0.25;
  background-color: rgba(95, 95, 155, 0.125);
}

h3,
h4,
h5 {
  color: #326257;
}

h2 {
  margin: 1rem auto;
  color: #326257;
}
@media screen and (min-width: 40em) {
  h2 {
    margin: 50px auto;
  }
}

main {
  min-height: 72.5vh;
}
@media screen and (min-width: 40em) {
  main {
    min-height: 64.2vh;
  }
  main > * {
    margin-bottom: 50px;
  }
}

.subheader {
  color: #6b6b6b;
}

i {
  display: contents;
}

/* header */
.top-bar, .top-bar ul {
  background-color: #326257;
}
.top-bar ul {
  min-height: 100px;
}
.top-bar ul h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.top-bar ul a {
  color: #d6edff;
}
.top-bar ul a:hover, .top-bar ul a:focus {
  color: snow;
}
.top-bar ul .menu-text {
  margin: 0;
  padding: 0;
}
.top-bar ul .menu-text span {
  display: inline-block;
  background-image: url(../images/nav/icon.png);
  width: 84px;
  height: 84px;
}

.title-bar {
  background-color: #326257;
}
.title-bar .menu-icon {
  color: #acd7ec;
}
.title-bar .title-bar-title {
  color: #d6edff;
}

/* footer */
footer {
  padding-top: 15px;
  background-color: #5f5f9b;
}
footer li, footer a {
  color: #d6edff;
}
footer a:hover, footer a:focus {
  color: snow;
}

.orbit {
  max-width: 1200px;
  margin: auto auto 1rem auto;
}
.orbit h2 {
  padding: 0.5%;
  position: absolute;
  z-index: 999;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  color: snow;
  font-style: oblique;
  text-shadow: 0 0 2.5px black;
}
.orbit .orbit-container img {
  max-height: 700px;
}
@media screen and (min-width: 40em) {
  .orbit {
    margin: auto auto 50px auto;
  }
}

@media screen and (min-width: 40em) {
  .media-object {
    margin: auto auto 50px auto;
  }
}
.media-object .media-object-section:nth-child(2) img {
  width: 96%;
  border-radius: 10px;
}
@media screen and (min-width: 40em) {
  .media-object .media-object-section:nth-child(2) img {
    width: 100%;
  }
}
.media-object .media-object-section {
  padding: 0;
}
@media screen and (min-width: 40em) {
  .media-object .media-object-section:nth-child(1) {
    padding: 2%;
    margin: 2%;
  }
  .media-object .media-object-section:nth-child(2) {
    padding: 3%;
  }
}

@media screen and (min-width: 40em) {
  .p-left p,
.p-right p {
    padding: 0 1rem 3rem 1rem;
    margin: 0;
  }
}
@media screen and (min-width: 40em) {
  .p-left h4,
.p-right h4 {
    padding: 2rem 1rem 0 1rem;
  }
}

.card {
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 40em) {
  .card {
    box-shadow: 0 -1px rgba(10, 10, 10, 0.1);
    padding: 1rem 0 0 0;
  }
}
.card .card-divider {
  background-color: transparent;
  font-size: larger;
  color: #326257;
  margin: 0;
  padding: 0;
}
.card .card-section {
  margin: 0;
  padding: 0;
}
.card img {
  margin: 2% 2% 1rem 2%;
  border-radius: 10px;
}
@media screen and (min-width: 40em) {
  .card img {
    border-radius: unset;
  }
}

/*# sourceMappingURL=home.css.map */
