// _settings.scss foundation styles custom 
$customColor: transparent;
$mediaobject-image-width-stacked-custom: 97%;
$callout-margin-bot: 50px;

// colors 
$colorOne: rgb(132, 220, 198);
$colorTwo: rgb(214, 237, 255);
$colorThree: rgb(172, 215, 236);
$colorFour: rgb(95, 95, 155);
$colorFive: rgb(50, 98, 87);
$white: snow;
$black: #0a0a0a;
$grey: #cacaca;
$transparent: transparent;

// functions 
@mixin zerobox() {
    margin: 0;
    padding: 0;
}

@mixin setbox($width, $height, $padding, $margin) {
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
}

@function lightnesShift($color) {
    @if (lightness($color) < 25%) {
        @return darken($color, 10%);
    } @else {
        @return lighten($color, 10%);
    }
}
