
$middle-blue-green: rgb(132, 220, 198);
$columbia-blue: rgb(214, 237, 255);
$uranian-blue: rgb(172, 215, 236);
$blue-bell: rgb(95, 95, 155);
$viridian: rgb(50, 98, 87);
$white: snow;
$black: #0a0a0a;
$grey :#cacaca;
$transparent: transparent;

@mixin zerobox() {
    margin: 0;
    padding: 0;
}

@mixin setbox($width, $height, $padding, $margin) {
    width: $width;
    height: $height;
    padding: $padding;
    margin: $margin;
}

@function lightnesShift($color) {
    @if (lightness($color) < 25%) {
        @return darken($color, 10%);
    } @else {
        @return lighten($color, 10%);
    }
}