@import "variables";

.badge {
    @include setbox(null, null, null, 0 0 10px 0);
}

form {
     .button {
        background-color: $colorOne;
        color: darkShift($colorFive);
        &:hover {
            background-color: darkShift($colorOne);
            color: $black;
        }
    }
     textarea {
        resize: none;
    }
}

blockquote {
    color: darkShift($colorSix);
    cite {
        @extend blockquote;
    }
}

@media screen and (min-width: 40em) {
    .callout {
        @include setbox(null, null, null, 0 0 50px 0);
    }
}
