@import "variables";
/* contact */

#main a {
    &:hover, &:focus {
        color: $colorFour;
    }
}

.badge {
    @include setbox(null, null, null, 0 0 10px 0);
}

form {
    .button {
        background-color: $colorOne;
        color: darkShift($colorFive);
        @include setbox(null, null, null, 0);
        &:hover,
        &:focus {
            background-color: darkShift($colorOne);
            color: $black;
        }
    }
    textarea {
        resize: none;
    }
    .has-tip-cursor {
        cursor: inherit;
    }
}

blockquote {
    color: darkShift($colorSix);
    cite {
        @extend blockquote;
    }
}

@include medium_and_up() {
    .callout {
        @include setbox(null, null, null, 0 0 50px 0);
    }
}
