@import "variables";
/* contact */

#main a {
    &:hover,
    &:focus {
        color: $colorFour;
    }
}

.badge {
    @include setbox(null, null, null, 0 0 10px 0);
}

#map {
    background-image: url(../images/contact/map-full.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
    position: relative;
    max-height: 319px;
    @include setbox(null, null, 31%, 0 0 2rem 0);
    @include medium_and_up {
        background-image: url(../images/contact/map.jpg);
        @include setbox(null, null, 0, 0 0 50px 0);
    }
    address {
        position: absolute;
        bottom: -25px;
        left: 0;
    }
}

#main form {
    .button {
        background-color: $colorOne;
        color: darkShift($colorFive);
        @include setbox(null, null, null, 0);
        &:hover,
        &:focus {
            background-color: darkShift($colorOne);
            color: $black;
        }
    }
    textarea {
        resize: none;
    }
    .has-tip-cursor {
        cursor: inherit;
    }
    .tabs {
        background-color: $transparent;
        border: none;
        li {
            background-color: darkShift($grey);
            a {
                font-size: 14px;
                color: darkShift($colorSix);
                @include setbox(null, null, 0.5rem 0, null);
                &:hover,
                &:focus {
                    color: $colorFour;
                }
            }
        }
        .tabs-title.is-active a {
            background-color: rgba($colorSix, 0.25);
        }
    }
    .tabs-content {
        background-color: $transparent;
        border: none;
        .tabs-panel {
            @include zerobox();
        }
    }
    label b {
        display: block;
    }
}

blockquote {
    color: darkShift($colorSix);
    cite {
        @extend blockquote;
    }
}

@include medium_and_up() {
    .callout {
        @include setbox(null, null, null, 0 0 50px 0);
    }
}
