@import "variables";
/* gallery */

h2 {
    @include medium_and_up {
        @include setbox(null, null, 0 1rem 0 0, 50px auto);
    }
    @include twelve_and_up {
        @include setbox(null, null, 0 4% 0 0, null);
    }
}

#main .menu {
    background-color: rgba($grey, 0.25);
    li {
        a {
            font-size: 16px;
            @include setbox(100%, fit-content, 1rem, 0);
            &:hover,
            &:focus {
                color: $colorFour;
                background-color: $white;
            }
        }
        &:nth-child(1) i {
            @include setbox(null, null, 0.7rem 2rem, 0);
        }
    }
}

.gallery {
    @include setbox(null, null,  0 0 220px 0, 6%);
    img {
        border: 1px solid $grey;
        box-sizing: content-box;
    }
    h4 {
        font-size: medium;
    }
    a {
        @include setbox(null, null,1rem 0 0.5rem 0, null);
        color: $colorFive;
        &:hover,
        &:focus {
            color: $colorFour;
        }
    }
    .dropdown-pane {
        overflow-y: scroll;
        @include setbox(null, 220px,null, null);
    }
}

section {
    border-bottom: 1px solid $grey;
    @include setbox(null, null, mull, auto);
    h3 {
        @include setbox(null, null, 0 1rem 0 0, 1rem 0 0 0);
        @include twelve_and_up {
            @include setbox(null, null, 0 4% 0 0, null);
        }
    }
    .sticky-top {
        position: sticky;
        top: 0;
        i {
            @include setbox(null, null, 0 1rem 0 0, null);
            @include twelve_and_up {
                @include setbox(null, null, 0 4% 0 0, null);
            }
            color: $grey;
            &:hover,
            &:focus {
                color: $colorFour;
            }
        }
    }
}
