@import "variables";

.gallery {
    & .cell {
        @include setbox(220px, 400px, null, 1% 3%);
    }
    & h3 {
        font-size: medium;
    }
}

@for $i from 1 through 20 {
    #product-#{$i} {
        @include setbox(220px, 220px, null, auto auto 3% auto);
        background-image: url(../images/gallery/product-#{$i}.jpg);
        background-size: contain;
        border: 1px solid $grey;
    }
}
