@import "variables";
/* gallery */

#main a {
    font-size: 21px;
    &:hover,
    &:focus {
        color: $colorFour;
    }
}

#main .menu {
    @include setbox(null, null, null, 3rem);
}

.gallery {
    @include setbox(220px, 400px, null, 1% 3%);
    h4 {
        font-size: medium;
    }
}
