@import "variables";
/* home */

h2 {
    @include setbox(null, null, 0.375rem, null);
    position: absolute;
    z-index: 999; 
    right: 20px;
    @include twelve_and_up {
        right: calc(50% - 580px);
    }
    background-color: darkShift(rgba($white, 0.3));
    border-radius: 10px;
    color: $white;
    font-style: oblique;
    text-shadow: 0 0 2.5px darkShift($black);
}

.orbit {
    max-width: 1200px;
    @include setbox(null, null, null, auto auto 1rem auto);
    .orbit-container img {
        max-height: 700px;
    }
    @include medium_and_up() {
        @include setbox(null, null, null, auto auto 50px auto);
    }
    @include x_large_and_up {
        box-sizing: content-box;
        box-shadow: 1px 0 rgba($colorSix, 0.2), -1px 0 rgba($colorSix, 0.2);
        @include setbox(null, null, 0 360px, null);
    }
}

.media-object {
    @include medium_and_up() {
        @include setbox(null, null, null, auto auto 50px auto);
    }
    .media-object-section:nth-child(2) img {
        @include setbox(100%, null, null, null);
        border-radius: 10px;
    }
    .media-object-section {
        &:nth-child(1) {
            @include setbox(null, null, 0, null);
            @include medium_and_up() {
                @include setbox(null, null, 1rem, 1rem);
            }
        }
        &:nth-child(2) {
            @include setbox(null, null, 0 2%, null);
            @include medium_and_up() {
                @include setbox(null, null, 0 0 0 2rem, null);
                @include large_and_up() {
                    @include setbox(null, null, 3%, null);
                }
            }
        }
    }
}

.p-left,
.p-right {
    p {
        @include medium_and_up {
            @include setbox(null, null, 0 1rem 3rem 1rem, 0);
        }
    }
    h4 {
        @include medium_and_up {
            @include setbox(null, null, 2rem 1rem 0 1rem, null);
        }
    }
}

.card {
    background-color: $transparent;
    border: none;
    @include medium_and_up {
        box-shadow: 0 -1px rgba($black, 0.1);
        @include setbox(null, null, 1rem 0 0 0, null);
    }
    .card-divider {
        background-color: $transparent;
        font-size: larger;
        color: $colorFive;
        @include zerobox();
    }
    .card-section {
        @include zerobox();
    }
    img {
        @include setbox(null, null, null, 2% 2% 1rem 2%);
        border-radius: 10px;
        @include medium_and_up() {
            border-radius: unset;
        }
    }
}
