@import "variables";

.orbit {
    max-width: 1200px;
    @include setbox(null, null, null, auto auto 2rem auto);
    & h2 {
        position: absolute;
        z-index: 999;
        right: 20px;
        background-color: lightnesShift(rgba($white, 0.3));
        border-radius: 10px;
        color: $white;
        font-style: oblique;
        text-shadow: 0 0 2.5px lightnesShift($black);
    }
    & .orbit-container img {
        max-height: 700px;
    }
}

.media-object-section {
    & img {
        @include setbox(100%, null, null, null);
        border-radius: 10px;
    }
}
.card {
    background-color: $transparent;
    border: none;
    & .card-divider {
        background-color: $transparent;
        font-size: larger;
        color: $viridian;
        @include zerobox();
    }
    & .card-section {
        @include zerobox();
    }
    & img {
        @include setbox(null, null, null, 2% 2% 7% 2%);
        border-radius: 10px;
    }
}

/* Medium and up */
@media screen and (min-width: 40em) {
    .orbit {
        @include setbox(null, null, null, auto auto 50px auto);
    }
    .media-object {
        @include setbox(null, null, null, auto auto 50px auto);
    }
    .media-object-section {
        &:nth-child(1) {
            @include setbox(null, null, 2%, 2%);
        }
        &:nth-child(2) {
            @include setbox(null, null, 3%, null);
        }
    }
    .card img {
        border-radius: unset;
    }
}
