/* header */

.top-bar {
    background-color: $colorFive;
    ul {
        @extend .top-bar;
        h1 {
            font-size: inherit;
            @include zerobox();
        }
        a {
            color: $colorTwo;
            &:hover,
            &:focus {
                color: $white;
            }
        }
        .menu-text {
            @include zerobox();
            span {
                display: inline-block;
                background-image: url(../images/nav/icon.png);
                @include setbox(84px, 84px, null, null);
            }
        }
    }
}

.title-bar {
    background-color: $colorFive;
    .menu-icon {
        color: $colorThree;
    }
    .title-bar-title {
        color: $colorTwo;
    }
}
