/* header */

.top-bar {
    background-color: $colorFive;
    .top-bar-left span {
        display: inline-block;
        background-image: url(../images/nav/icon.png);
        @include setbox(84px, 84px, null, null);
    }
    ul {
        @extend .top-bar;
        h1 {
            font-size: inherit;
            @include zerobox();
        }
        a {
            color: $colorTwo;
            &:hover,
            &:focus {
                color: $white;
            }
        }
    }
}

.title-bar {
    background-color: $colorFive;
    .menu-icon {
        color: $colorThree;
    }
    .title-bar-title {
        color: $colorTwo;
    }
}
