/* global */

body {
    background-color: rgba($colorFour, 0.01);
    max-width: 1920px;
    @include setbox(null, null, null, auto);
}

main {
    min-height: 69vh;
}

h3,
h4,
h5 {
    color: $colorFive;
}

h2 {
    @include setbox(null, null, 0.5%, 40px auto auto auto);
    color: $colorFive;
}

.subheader {
    color: darkShift($colorSix);;
}

/* nav */

.top-bar {
    background-color: $colorFive;
     ul {
        min-height: 100px;
        @extend .top-bar;
         h1 {
            font-size: inherit;
            @include zerobox();
        }
         a {
            color: $colorTwo;
            &:hover {
                color: $white;
            }
        }
         .menu-text {
            @include zerobox();
             span {
                display: inline-block;
                background-image: url(../images/nav/icon.png);
                @include setbox(84px, 84px, null, null);
            }
        }
    }
}

.title-bar {
    background-color: $colorFive;
     .menu-icon {
        color: $colorThree;
    }
     .title-bar-title {
        color: $colorTwo;
    }
}

/* footer */

footer {
    padding-top: 15px;
    background-color: $colorFour;
     li {
        color: $colorTwo;
    }
     a {
        @extend li;
        &:hover {
            color: $white;
        }
    }
}




/* Medium and up */
@include medium_and_up () {
    main > * {
        margin-bottom: 50px;
    }
}
