/* template */

body {
    @include setbox(null, null, null, auto);
    position: relative;
    &::before {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -999;
        opacity: 0.25;
        background-blend-mode: screen;
        background-color: rgba($colorFour, 0.125);
        background-image: url(../images/template/body.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center center;
        background-size: cover;
    }
}

h3,
h4,
h5 {
    color: $colorFive;
}

h2 {
    @include setbox(null, null, null, 1rem auto);
    color: $colorFive;
    @include medium_and_up() {
        @include setbox(null, null, null, 50px auto);
    }
}

main {
    min-height: 86vh;
    @include medium_and_up() {
        > * {
            margin-bottom: 50px;
        }
    }
    @include x_large_and_up {
        @include setbox(1920px, null, null, auto);
        box-shadow: 1px 0 rgba($colorSix, 0.2), -1px 0 rgba($colorSix, 0.2);
    }
}

main.grid-container {
    @include x_large_and_up {
        box-sizing: content-box;
        @include setbox(null, null, 0 360px, null);
    }
}

.subheader {
    color: darkShift($colorSix);
}

i {
    @include setbox(null, null, null, 0 auto 1rem 0);
}

@import "header";

@import "footer";
