/* global */

body {
    background-color: rgba($colorFour, 0.01);
    max-width: 1920px;
    @include setbox(null, null, null, auto);
}

h3,
h4,
h5 {
    color: $colorFive;
}

h2 {
    @include setbox(null, null, 0.5%, 40px auto auto auto);
    color: $colorFive;
}

main {
    min-height: 69vh;
    @include medium_and_up() {
        min-height: 70vh;
        > * {
            margin-bottom: 50px;
        }
    }
}

.subheader {
    color: darkShift($colorSix);
}

@import "header";

@import "footer";